{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="loader typoTitres">
    <span class="lettre">C</span>
    <span class="lettre">H</span>
    <span class="lettre">A</span>
    <span class="lettre">R</span>
    <span class="lettre">G</span>
    <span class="lettre">E</span>
    <span class="lettre">M</span>
    <span class="lettre">E</span>
    <span class="lettre">N</span>
    <span class="lettre">T</span>
</div>

<div class="header">
    <div class="title typoTitres">
        <a href=""><img src="{{ asset('images/monLogo.png') }}" alt="Expérience" class="favicon"></a>
    </div>


    <ul class="menu typoTitres">
        <li class="menu-word accueil"><a href="#homeSection">Accueil</a></li>
        <li class="menu-word travaux"><a href="#listprojectSection">Travaux</a></li>
        <li class="menu-word a-propos"><a href="#aboutSection">A propos</a></li>
    </ul>

    <ul class="social-icons">
        <li class="">
            <button id="toggle-button" class="circle-button"><img src="{{ asset('images/sun.png') }}" alt="Expérience" class="icon"></button>
        </li>
        <li><a href="https://www.linkedin.com/in/nathan-delestre/" target="_blank"><img src="{{ asset('images/LinkedinLogo.svg') }}" alt="Expérience" class="gitIcon"></a></li>
        <li><a href="https://github.com/Sinndd" target="_blank"><img src="{{ asset('images/GITHUBLogo.svg') }}" alt="Expérience" class="gitIcon"></a></li>
    </ul>
    <div class="menu-burger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    
    <div class="dropdown-menu">
        <!-- Contenu du dropdown menu -->
        <a class="dropdown gitIcon" href="https://www.linkedin.com/in/nathan-delestre/" target="_blank"><img src="{{ asset('images/LinkedinLogo.svg') }}" alt="Expérience"> &nbsp;Linkedin</a>
        <a class="dropdown gitIcon" href="https://github.com/Sinndd" target="_blank"><img src="{{ asset('images/GITHUBLogo.svg') }}" alt="Expérience"> &nbsp; &nbsp;Github</a>
        <div class="bouton">
            <br><button id="toggle-button" class="circle-button"><img src="{{ asset('images/sun.png') }}" alt="Expérience" class="icon"></button>
        </div>
    </div>
    </div>
</div>


<div class="main-content">
        <div class="mini-menu">
            <ul class="dotList">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </div>


    <section class="section" id="homeSection">
        <div class="presentation">
            <div class="right-part">
                <img src="{{ asset('images/nathCoul.jpg') }}" alt="Expérience" class="photo">
            </div>
            <div class="left-part">
                <h1 class="typoTitreSpeech">Bonjour, je m'appelle <br><span class="prenom">Nathan Delestre.</span></h1>
                <p class="typo-ar-onesans speech">J'ai 21 ans, je sors d'une formation Développeur Web de chez O'clock à l'issue de laquelle j'ai eu mon Titre Professionnel. </p>
            </div>
        </div>

        <h1 class="typoTitres" id="titres">Mes Technologies</h1>
        <div class="qualities">
            <div class="image-container">
                <div class="logo contenu">
                    <img src="{{ asset('images/HTMLLogo.svg') }}" alt="Expérience" class="favicon">
                    <img src="{{ asset('images/CSSLogo.svg') }}" alt="Expérience" class="favicon">
                </div>
                <h2 class="techno info contenu typoRubik">HTML & CSS</h2>
                <p class="niveau info contenu typo-ar-onesans">Niveau Intermédiaire</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/JSLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik">Javascript</h2>
                <p class="niveau info contenu typo-ar-onesans">Niveau Intermédiaire</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/MySQLLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik">MySQL</h2>
                <p class="niveau info contenu typo-ar-onesans">Niveau Intermédiaire</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/PHPLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik">PHP</h2>
                <p class="niveau info contenu typo-ar-onesans">Niveau Intermédiaire</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/SymfonyLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik"></h2>
                <p class="niveau info contenu typo-ar-onesans">Spécialité formation - Projet formation</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/TWIGLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik">Twig</h2>
                <p class="niveau info contenu typo-ar-onesans">Spécialité formation - Projet formation</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/GSAPLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik">GSAP</h2>
                    <p class="niveau info contenu typo-ar-onesans">Auto-formation - Débutant</p>
                <div class="methodes">
                    <p class="methode info contenu typo-ar-onesans">Youtube</p><p class="methode info contenu typo-ar-onesans">Documentation</p>
                </div>
            </div>

            <div class="image-container">
                <img src="{{ asset('images/GITLogo.svg') }}" alt="Expérience" class="favicon">
                <h2 class="techno info contenu typoRubik">GIT</h2>
                <p class="niveau info contenu typo-ar-onesans">Niveau Intermédiaire</p>
                <p class="methode info contenu typo-ar-onesans">O'CLOCK</p>
            </div>
        </div>
    </section>

    <section class="my-work section" id="listprojectSection">
        <div class="work-title">
            <h2 class="typoTitres" id="titres">Mes Projets</h2>
        </div>

        <div class="project-list">
                <div class="un">
                    <a class="project-pic" href="#">
                    <p class="project-name typoTitres">Nom de Projet</p>
                        <div class="overlay">
                            <p class="typoTitres">Nom de Projet</p>

                            <p class="typo-ar-onesans">Salut voici mon projet</p>
                        <div class="logo-list">
                            <img src="{{ asset('images/CSSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/HTMLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/JSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/TWIGLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/MySQLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/PHPLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/SymfonyLogo.svg') }}" alt="Expérience" class="">
                        </div>
                        </div>
                    </a>
                </div>

                <div class="un">
                    <a class="project-pic" href="#">
                    <p class="project-name typoTitres">Nom de Projet</p>
                        <div class="overlay">
                            <p class="typoTitres">Nom de Projet</p>

                            <p class="typo-ar-onesans">Salut voici mon projet</p>
                        <div class="logo-list">
                            <img src="{{ asset('images/CSSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/HTMLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/JSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/TWIGLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/MySQLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/PHPLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/SymfonyLogo.svg') }}" alt="Expérience" class="">
                        </div>
                        </div>
                    </a>
                </div>

                <div class="un">
                    <a class="project-pic" href="#">
                    <p class="project-name typoTitres">Nom de Projet</p>
                        <div class="overlay">
                            <p class="typoTitres">Nom de Projet</p>

                            <p class="typo-ar-onesans">Salut voici mon projet</p>
                        <div class="logo-list">
                            <img src="{{ asset('images/CSSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/HTMLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/JSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/TWIGLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/MySQLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/PHPLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/SymfonyLogo.svg') }}" alt="Expérience" class="">
                        </div>
                        </div>
                    </a>
                </div>

                <div class="un">
                    <a class="project-pic" href="#">
                    <p class="project-name typoTitres">Nom de Projet</p>
                        <div class="overlay">
                            <p class="typoTitres">Nom de Projet</p>

                            <p class="typo-ar-onesans">Salut voici mon projet</p>
                            <div class="logo-list">
                            <img src="{{ asset('images/CSSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/HTMLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/JSLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/TWIGLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/MySQLLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/PHPLogo.svg') }}" alt="Expérience" class="">
                            <img src="{{ asset('images/SymfonyLogo.svg') }}" alt="Expérience" class="">
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </section>

    <section class="aproposSection section" id="aboutSection">
        <div class="monParcours">
            <h2 class="parcoursTitle">Mon parcours</h2>
            <p class="typo-ar-onesans">Je suis un développeur web spécialisé dans le backend, ce qui signifie que je travaille principalement sur la face cachée des sites web, gérant les serveurs, les bases de données et la logique qui permet aux applications de fonctionner en coulisses. Ma transition vers ce domaine a été motivée par ma passion pour les technologies numériques et l'attrait de la durabilité et de la croissance continue qu'offre le secteur. Pour acquérir les compétences nécessaires, j'ai suivi une formation intensive de six mois chez O'Clock, au cours de laquelle j'ai acquis une solide compréhension des langages de programmation, des bases de données et des architectures web. À l'issue de cette formation, j'ai obtenu un Titre Professionnel de Niveau 5, ce qui a renforcé ma légitimité en tant que développeur web et m'a permis de m'engager dans des projets professionnels passionnants. Mon parcours m'a doté des compétences nécessaires pour contribuer de manière significative au développement et à la gestion des systèmes web.</p>
        </div>
            <div class="shadow"></div>
    </section>
</div>



<div class="footer typoTitres">
<h2>Vous voulez travailler avec moi ?</h2>
<a class="btn" href="mailto:delestre.nathan@gmail.com">Contactez-moi</a>
</div>

{% endblock %}